<h2>  log in</h2>
<form action=" <%=session_url  %> " method="post">
  <%= auth_token %>

<label for="Username"> Username</label>
<input type="text" name="user[username]">
<label for="Password"> Password</label>
<input type="password" name="user[password]">
<button> Submit </button>
</form>
